@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0a50e6;
    background: url('bg.jpg') no-repeat center center/cover;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #d86b06;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: dotted;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 48%; 
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #c48808;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0bbb4e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #70ec0a;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.sign-up, .sign-in {
    width: 48%;
}
.container p {
    font-style: italic;
}
